<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container">
        <ul class="nav bg-info">
            <li class="nav-item">
                <a class="nav-link link-light" href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="/members">MEMBERS</a>
            </li>
        </ul>

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>