{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'myfirst.css' %}">
    <body>

        {% include 'mymenu.html' with me="TOBIAS" sponsor="W3SCHOOLS" %}

        <!-- {% with firstname="Tobias" %} 优先级第一，注不注释都起作用，除非模板级注释{% comment %}{% endcomment %}-->
        <h1>Hello {{ firstname }}, how are you?</h1>
        <!-- {% endwith %} -->

        <!-- {% for x in fruits %}
            <h1>{{ x }}</h1>
        {% endfor %} -->

            
        
        {{ mymembers }} <br>
        {{ mymembers|length }}
        <br/>
        <hr/>

        
                  
        
            
            
            {% comment %}
            <h3>{{ x }}</h3>
            {% endcomment %}
            
            <table border="1"
                <tr>
                    <th>ID</th>
                    <th>姓名</th>
                    <th>手机</th>
                </tr>
                {% for x in mymembers %}
                <tr>
                    <td>{{ x.id }}</td>
                    <td>{{ x.lastname }}{{ x.firstname }}</td>   
                    <td>{{ x.phone }}</td>
                </tr>
                {% endfor %}
            </table>
            

            
            

        

        <p>In views.py you can see what the fruits variable looks like.</p>
    </body>
</html>